<ion-header>
  <ion-toolbar color="primary">
    <ion-title >
      <img routerLink='/home' alt="logo" height="35px" width="35px"  src="assets\icon\clock (3).png" /> 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <ion-list *ngFor="let todos of toDo">
     
    <ion-card color="primary">
      <ion-card-content>
          {{ todos.name }}
          {{ todos.time }} <p>  </p><ion-icon ios="ios-alarm" md="md-alarm"></ion-icon>
      </ion-card-content>
    </ion-card>
   <br/>
   <!-- name -->
   <ion-item>
      <ion-label position="stacked">Name</ion-label>
      <ion-input type="text" [(ngModel)]="editName"  ></ion-input>
   </ion-item>
      
   <!-- Time -->
<ion-item lines = "inset" color="none">
    <ion-label>Time</ion-label>
    <ion-datetime [(ngModel)]="editTime" displayFormat="HH:mm A"  color="primary" style="font-weight: 500;font-weight: 200" name="alarm" placeholder="Select Time" ></ion-datetime>
</ion-item>
  

   <!-- leezy action buttons -->
  
    <ion-button color="primary"  (click)="updateTodo(todos,editName,editTime)">Edit</ion-button>
    <ion-button color="primary" (click)="deleteTodo(todos)"> Delete</ion-button>
 </ion-list>
</ion-card>
<ion-card color="secondary">
    <ion-card-content>
    Add more to your schedule...<ion-icon name="walk" style="zoom:1.2;"></ion-icon>
    </ion-card-content>
  </ion-card>
<ion-card> 
  <!-- NAME -->
    <ion-item>
        <ion-label position="stacked">Name</ion-label> 
    <ion-input type="text" [(ngModel)]="addName"  ></ion-input>
  </ion-item>
  <!--  TIME-->
  <ion-item lines = "inset" color="none">
    <ion-label>Time</ion-label>
    <ion-datetime [(ngModel)]="addTime" displayFormat="HH:mm A" color="primary" style="font-weight: 500;font-weight: 200" name="alarm" placeholder="Select Time" ></ion-datetime>
</ion-item>
  <ion-button color="primary"  (click)="addTodo(addName,addTime)">Add</ion-button>
</ion-card>
</ion-content>
